* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;   
}

div {
    padding: 5px;
}

.all{
    display: flex;
}

.mission_add{
    background: #339;
    color: azure;
}

input { height: 25px; }
button { height: 25px; }

.droppable {
    width: 30%;
    background-color: rgb(192, 178, 178);
    cursor: pointer;
    margin: 5px;
}

.droppableTarget {
    border: solid 1px #fbfbfb;
    height: 300px;
}

.item {
    background-color: #ff0;
    margin: 5px;
}

.draggable { 
    cursor: move;
    background-color: white;
    float: left;
}

